<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jewelry Site</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="header">
        <!--<button class="menu-btn" onclick="toggleDropdown()">MENU</button>-->
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo2.jpg') }}" alt="Logo" class="logo">
            <div class="title">PRAVEEN<span><h1>JEWELLERS</h1></span></div>
        </div>
        <nav class="nav-links">
            <a href="#">HOME</a>
            <a href="{{ url_for('about') }}">ABOUT</a>
            <a href="#">IMAGES</a>
            <a href="#">CONTACT</a>
            <a href="{{ url_for('logout') }}" onclick="confirmLogout()">LOGOUT</a>

            <script>
            function confirmLogout() {
                if (confirm("Do you want to logout?")) {
                    window.location.href = "/logout";
                }
            }
            </script>
            

        </nav>        
    </header>
    <section class="billing-section">
        <a href="/billing" class="billing-btn">Create Billing</a>
    </section>

    <section class="time-period-section">
        <button onclick="window.location.href='/?time_period=daily'">Daily</button>
        <button onclick="window.location.href='/?time_period=weekly'">Weekly</button>
        <button onclick="window.location.href='/?time_period=monthly'">Monthly</button>
        <button onclick="window.location.href='/?time_period=yearly'">Yearly</button>
    </section>

    <section class="charts-section">
        <h3>Pie chart</h3>
        <div id="pie-chart">{{ pie_chart|safe }}</div>
        <h3>Scatter Plot</h3>
        <div id="scatter-plot">{{ scatter_plot|safe }}</div>
    </section>

    <footer class="footer">
        <p>&copy; 2025 PRAVEEN JEWELLERS</p>
    </footer>

    <script>
        function toggleDropdown() {
            var dropdownMenu = document.getElementById("dropdownMenu");
            if (dropdownMenu.style.display === "none" || dropdownMenu.style.display === "") {
                dropdownMenu.style.display = "block";
            } else {
                dropdownMenu.style.display = "none";
            }
        }
    </script>
</body>
</html>
